doctype html
html(lang='en')
    head
        title Login Page
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        //link(rel='stylesheet', type='text/css', href='style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='https://apis.google.com/js/platform.js', async='', defer='')

    body
        #fb-root
        .container-fluid
            #header.jumbotron
                h1.text-center Pocket Doctor
                p.text-center Welcome to your 24/7 medical assistant!
        #content.row
            .col-md-3(style='background-color:white;')
            .col-md-6(style='background-color:lightblue;')
                h1
                .wrapper
                 a.loginBtn.loginBtn--facebook(href='passport/facebook', role='button')
                        | Login with Facebook
                h1
            .col-md-3(style='background-color:white;')

